* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(209, 211, 211);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.navegacion {
    list-style-type: none;
    display: flex;
}

.navegacion li {
    margin-left: 24px;
}

.navegacion a {
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-size: 16px;
}

.logo {
    padding-right: 24px;
}

#buscador {
    display: none;
    flex-grow: 1;
    transition: opacity 0.3s;
}

#navegacion {
    transition: opacity 0.3s;
}