/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navegación */
header {
    background-color: rgb(225, 226, 226);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 24px;
}

.navegacion {
    list-style-type: none;
    display: flex;
}

.navegacion li {
    margin-left: 24px;
}

.navegacion a {
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-size: 16px;
}

#buscador {
    display: none;
    flex-grow: 1;
    transition: opacity 0.3s;
    padding: 6px 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 24px;
    outline: none;
}

#botonBuscar {
    background: none;
    border: none;
}

#botonBuscar img {
    width: 20px;
    height: auto;
}

.logo {
    padding-right: 24px;
}



/*
Padding
1 valor: Todos los lados.
2 valores: 1 para superior/inferior, 1 para izquierda/derecha.
3 valores: 1 para superior, 2 para izquierda/derecha, 3 para inferior.
4 valores: Superior, derecho, inferior, izquierdo.
*/

/* 
background-color: rgb(209, 211, 211)
*/